/* ------------------------- Mixins --------------------- */

@mixin respond($breakpoint) {
  // @if $breakpoint==phone-land {
  //   @media screen and (min-width: 37.5em), (min-height: 23.81em) {
  //     @content;
  //   } // 600px/16px   = 37.5em
  // }
  @if $breakpoint==tab-port {
    @media only screen and (min-width: 37.5em) {
      @content;
    } // 600px/16px   = 37.5em
  }
  @if $breakpoint==tab-land {
    @media screen and (min-width: 56.25em) {
      @content;
    } // 900px/16px   = 56.25em
  }
  @if $breakpoint==desktop {
    @media screen and (min-width: 75em) {
      @content;
    } // 1200/16px    = 75em
  }
  @if $breakpoint==wide-screen {
    @media screen and (min-width: 112.5em) {
      @content;
    } // 1800px/16px  = 112.5em
  }
}

/* ---------------------- Variables --------------------- */

:root {
  --color-background: #1e2029; // --color-background: #2e3141;
  --color-background-light: #353849;
  --color-primary: #4c5c96;
  --color-primary-dark: #3f4e85;
  --color-white: #fff;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --line: 2px solid rgba(255, 255, 255, 0.125);
  --line1: 3px solid rgba(255, 255, 255, 0.125);
}

/* ---------------- GENERAL SETTINGS  ------------------- */

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  @include respond(tab-port) {
    font-size: 68.75%; // 1rem = 11px  // 11px/16px  = 68.75%
  }
  @include respond(tab-land) {
    font-size: 75%; // 1rem = 12px  // 12px/16px  = 75%
  }
  @include respond(desktop) {
    font-size: 81.25%; // 1rem = 13px  // 13px/16px  = 81.25%
  }
  @include respond(wide-screen) {
    font-size: 87.75%; // 1rem = 14px  // 14px/16px  = 87.75%
  }
  font-size: 62.5%; // 1rem = 10px // 10px/16px = 62.5%
}

html,
body {
  padding: 0;
  margin: 0;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-background);
  line-height: 1.6rem;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
}

/* -------------------------- Container -------------------------- */

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(15, 32, 39, 0.486), rgba(32, 58, 67, 0.315)), url(/images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; // opacity: 0;
  animation-name: easeInBG;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  overflow: hidden;
}

/* -------------------------- Hero ---------------------------- */

.hero {
  width: 90%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  &__title {
    position: relative;
    width: 90%;
    margin: 1rem auto;
    padding: 3rem 0;
    font-size: 3.25rem; // height: 20%;
    text-transform: uppercase;
    color: #9b999a;
    font-weight: 800;
    letter-spacing: .2rem;
    word-spacing: 1rem;
    transition: all .3s;
    backface-visibility: hidden;
    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 90%;
      height: 40%;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-bottom: 2rem;
      border-left: 3px solid #3c4d64;
      border-right: 3px solid #3c4d64;
      opacity: 0;
      animation: animateTitle1 .7s linear forwards .5s;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 60%;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-bottom: 7.5rem;
      border-left: 5px solid #3c4d64;
      border-right: 5px solid #3c4d64;
      border-bottom: 2px solid transparent;
      opacity: 0;
      animation: animateTitle2 .7s linear forwards .5s, animateTitle3 .5s linear forwards 1.2s;
    }
  }
  &__list {
    padding: 2rem;
    width: 90%;
    height: 70%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; // @include respond(phone-land) {
    //   height: 80%;
    // }
    &__items {
      list-style: none;
      & a {
        display: inline-block;
        &:link,
        &:visited {
          position: relative;
          backface-visibility: hidden;
          margin: .55rem;
          padding: .5rem 0 .4rem 0;
          font-size: 2rem;
          color: #bbb; // font-size: 5rem;
          text-transform: uppercase;
          cursor: pointer;
          text-decoration: none;
          transition: all .5s;
          transform: scale(1);
          overflow: hidden;
        }
        &:hover,
        &:active {
          transform: scale(1.03);
          color: #fff;
        }
        &:before {
          content: "";
          position: absolute;
          top: 53%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          border-bottom: 1px solid #fff;
          opacity: 0;
          backface-visibility: hidden;
        }
        &:hover:before {
          animation: animationItem .5s forwards;
        }
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  &__list {
    width: 80%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
  &__items {
    text-transform: uppercase;
    & a:link,
    a:visited {
      color: #fff;
      text-decoration: none;
      letter-spacing: 1px;
    }
  }
}

/* ----------------------- Animation ------------------------- */

@keyframes easeInBG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animateTitle1 {
  0% {
    width: 110%;
    opacity: 1;
  }
  100% {
    width: 120%;
    height: 60%;
    opacity: 0;
  }
}

@keyframes animateTitle2 {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 110%;
    height: 80%;
    opacity: 0;
  }
}

@keyframes animateTitle3 {
  0% {
    width: 30%;
    opacity: 0;
    border-right: none;
    border-left: none;
  }
  100% {
    border-bottom: 2px solid #817f7f;
    border-right: none;
    border-left: none;
    width: 40%;
    opacity: 1;
  }
}

@keyframes animationItem {
  0% {
    width: 70%;
    opacity: 0;
    letter-spacing: 1px;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}